.cardContainer {
  margin: 1em 0;
}
.row {
  display: flex;
}

.delete {
  background-color: darkslateblue;
}
.row .fileName {
  background-color: aqua;
  display: flex;
  justify-content: center;
  padding: 0;
}

.row span,
.row select,
.row button {
  width: 100%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding-left: 1em;
  line-height: 2em;
}
.row button {
  padding: 0;
}
.cardContainer {
  border-left: 1px solid black;
  border-top: 1px solid black;
}
.row button {
  border-top: none;
  border-left: none;
}
