.cardContainer {
  margin: 1em 0;
}
.row {
  display: flex;
}
/* .row1Element {
  flex: 0.333;
  border: 1px solid black;
}
.row2Element {
  flex: 0.5;
  border: 1px solid black;
}
.row3Element {
  flex: 1;
  border: 1px solid black;
}
.row4Element {
  flex: 0.5;
  border: 1px solid black;
} */
.fileName {
  background-color: aqua;
}
.delete {
  background-color: darkslateblue;
}
span {
}
.row span,
.row select {
  width: 100%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding-left: 1em;
  line-height: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.cardContainer {
  border-left: 1px solid black;
  border-top: 1px solid black;
}
