.input {
  display: none;
}
.label {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  line-height: 2em;
}
.label span {
  display: flex;
  align-items: center;
}
.label:hover {
  cursor: pointer;
}

.uploadIcon {
  font-size: 1.5em;
  color: blueviolet;
  margin-right: 10px;
}
