.listContainer {
  background-color: white;
  color: blue;
}
/* Basic component */
.basic {
  width: 500px;
  text-align: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.basic span {
  border-top: 1px solid black;
  border-left: 1px solid black;
}
.container {
  display: flex;
  padding: 0;
  margin: 0;
}
.nameType,
.birth {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.birth:nth-child(3),
.nameType:nth-child(1) {
  flex: 1;
}
.nameType:nth-child(2),
.birth:nth-child(4) {
  flex: 2;
}
.address {
  display: flex;
}
.address > span:nth-child(1) {
  width: 20%;
}
.address > span {
  width: 100%;
  text-align: center;
}

/* Certificate component */
.certificate {
  display: flex;
  width: 500px;
  text-align: center;
  background-color: white;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.certificate div,
.certificate li {
  border-top: 1px solid black;
  border-left: 1px solid black;
}
.certificate div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1.18;
}
.certificate ul {
  flex: 3;
  display: flex;
  flex-direction: column;
}
.certificate ul > li {
  width: 100%;
}

/* Physical component */
.physical {
  display: flex;
  background-color: white;
  width: 500px;
  text-align: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.physical ul {
  display: flex;
  flex: 6;
}
.physical div {
  border-top: 1px solid black;
  border-left: 1px solid black;
  flex: 1.18;
  display: flex;
  align-items: center;
  justify-content: center;
}
.physical ul > li {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.physical li > span {
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.centimeter {
  position: relative;
}
.centimeter span {
  position: absolute;
  right: 0;
}

/* Education component */
.education {
  text-align: center;
  display: flex;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.education div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1.18;
  border-top: 1px solid black;
  border-left: 1px solid black;
}
.education ul {
  flex: 3;
}
.education li {
  border-top: 1px solid black;
  border-left: 1px solid black;
}
