@value header-height, font-medium,margin-lg, margin-medium,  margin-small, font-medium, input-height from '../../common/size.css';
@value headerBgColor from '../../common/color.css';
.header {
  display: flex;
  position: fixed;
  max-width: 2000px;
  width: 100%;
  height: header-height;
  align-items: center;
  justify-content: space-around;
  background-color: headerBgColor;
}
.navContainer {
  height: 100%;
  display: flex;
  right: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
  /* background-color: aliceblue; */
}
.nav__item {
  margin: 0 1em;
  line-height: header-height;
  color: white;
}
.nav__item:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: chocolate;
}
.icon {
  font-size: font-medium;
  color: hotpink;
}
.icon:hover {
  cursor: pointer;
}
