@value header-height, font-medium,margin-lg, margin-medium,  margin-small, font-medium, input-height from '../../common/size.css';
@value headerBgColor from '../../common/color.css';
.header {
  display: flex;
  position: absolute;
  width: 100%;
  height: header-height;
  align-items: center;
  z-index: 2;
}

.navContainer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  list-style: none;
  margin-left: auto;
  /* background-color: aliceblue; */
}
.nav__item {
  margin: 0 1em;
  line-height: header-height;
  color: rgb(202, 231, 160);
}
.nav__item:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: chocolate;
}
.icon {
  font-size: font-medium;
  color: hotpink;
}
.icon:hover {
  cursor: pointer;
}
