@value font-lg, margin-medium,  margin-small from '../common/size.css';

.formContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  width: 400px;
  height: 600px;
  margin: auto;
}
.form {
  display: flex;
  position: relative;
  top: 2em;
  flex-direction: column;

  align-items: center;
}
.title {
  font-size: font-lg;
  margin-bottom: margin-medium;
}
.input {
  margin: margin-medium;
  width: 20em;
}
.label {
}
.button {
  width: 5em;
}
.authLoginContainer {
  position: relative;
  top: 5em;
}
.googleLogin {
  width: 5em;
}
