.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 12px;
  margin: 1em;
  width: 60%;
  flex: 0.33;
}
.info {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}
