.cardContainer {
  margin: 1em 0;
}
.row {
  display: flex;
}

.fileName {
  background-color: aqua;
}
.delete {
  background-color: darkslateblue;
}

.row input {
  border: none;
}

.row input,
.row select,
.row button {
  width: 100%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding-left: 1em;
  line-height: 2em;
}
.cardContainer {
  border-left: 1px solid black;
  border-top: 1px solid black;
}
.row button {
  border-top: none;
  border-left: none;
  padding: 0;
}

.inputContainer {
  width: 100%;
}
