@value header-height, mediaQuery from './common/size.css';

@media screen and (max-width: mediaQuery) {
}
@keyframes App-logo-spin {
}

.appContainer {
  display: flex;
  max-width: 2000px;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.header {
  width: 100%;
  height: header-height;
}
.header::after {
  height: 3em;
  content: "";
  display: block;
}
.main {
  flex: 1;
}
li {
  list-style: none;
}
