@value mediaQuery from '../../common/size.css';
.cardMakerContainer {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
}

@media (max-width: mediaQuery) {
  .cardMakerContainer {
    flex-direction: column;
  }
}
